AZURE_AI_PROJECT_ENDPOINT=https://viarbat-foundry-projects.services.ai.azure.com/api/projects/rft-models-hosting-project
SFT_AGENT_NAME=SupplyChainOrderFulfilmentAgent-SFT
SFT_AGENT_VERSION=13
RFT_AGENT_NAME=SupplyChainOrderFulfilmentAgent-RFT
RFT_AGENT_VERSION=10
TEACHER_AGENT_NAME=SupplyChainOrderFulfilmentAgent-Teacher
TEACHER_AGENT_VERSION=2